/*-------------------------
    Simple reset


/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    background-color:#eee;
    padding:0px;
    border-radius:0px;
}

#drop{
    
   padding: 0px 0px 10px 0px;
    margin-bottom: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size:12px;
    font-weight:bold;
}

#drop a{
	    background-color: #5BC0DE;
    padding: 8px 19px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-top: 12px;
    line-height: 1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
        list-style: none;
    margin: 10px 0px;
    padding: 0px 0px 0px 0px;
}

#upload ul li{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:15px;
    height: 42px;
    width: 100%;
    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 68%;
    position: absolute;
    top: 0px;
    left: 30px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
          top: 4px;
    left: 4px;
    position: absolute;
    width: 15px;
    height: 15px;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 16px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}


/*----------------------------
    The Demo Footer
-----------------------------*/


footer{
    background-color: #080808;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

footer h2{
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top:0;
    left: 50%;
    bottom:0;
    margin-left: -420px;
    padding:13px 20px 0;
    border:1px solid #000;
    border-width:0 1px;
    background-color:rgba(0,0,0,0.6);
    box-shadow:0 0 5px #000 inset;
    line-height: 1;
    margin-top: 0;
}

footer h2 a{
    color: #EEEEEE !important;
    text-decoration:none !important;
}

footer h2 i{
    font-style:normal;
    color:#888;
}

#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}
.footsave{
	margin-right: 84px;
}
.modelmd{
	width: 72%;
}
