/* lg */
@media ( min-width : 1200px) {
}

/* md */
@media ( min-width : 992px) and (max-width: 1199px) {
	.tile .tile-header h1 {
		font-size: 9px !important;
	}
	.minheightsmall {
		min-height: 62px !important;
	}
	.tile-body.p-0 {
	    padding-top: 42px !important;
	}
	body {
		font-size: 11px !important;
	}
	.minheight72 {
		min-height: 96px !important;
	}
	p {
		margin: 0 0 0px;
		font-size: 11px !important;
	}
	.smallbell {
		font-size: 10px !important;
		float: right;
		margin-top: 7px !important;
	}
	.mainbox {
		width: 169px !important;
		min-height: 99px !important;
	}
	.minheight28 {
		min-height: 26px !important;
	}
	.paddingnilleft {
		padding-left: 7px !important;
	}
	
}

/* sm */
@media ( min-width : 768px) and (max-width: 991px) {

}

/* xs */
@media ( max-width : 767px) {
	#register, #login {
		padding: 20px !important;
	}
	.content-left, .content-right {
		width: 100% !important;
	}
	.lihidden{
	display: none !important;
	}
	.ipdsearchbox{
	    width: 134px !important;
    margin-left: 132px;
}
	.topone{
	margin-top: -45px !important;
	}
}

/* XS Portrait */

@media ( max-width : 480px) {
	.dischargedisplaynone{display: none;}
	#register, #login {
		padding: 20px !important;
	}
	.content-left, .content-right {
		width: 100% !important;
		float: left;
	}
	.bedcount {
		padding: 1px 7px 0px 7px !important;
		background-color: #f5f5f5;
		color: #000;
		line-height: 17px;
		font-size: 9px !important;
	}
	.nav-tabs.tabs-dark {
		background-color: rgba(0, 0, 0, 0.1);
		margin-top: 1px !important;
	}
	.uiphoset {
		width: 44% !important;
	}
	.uiphoset12 {
		width: 100% !important;
	}
	.b-l {
    border-left: 1px solid rgba(255, 255, 255, 0.2) !important;
    min-height: 65px !important;
    padding-top: 0px !important;
}
}

/* XXS Portrait */
@media ( max-width : 393px) {
	
	.b-l {
   border-left: 1px solid rgba(255, 255, 255, 0.2) !important;
    min-height: 65px !important;
    padding-top: 0px !important;
}
	#register, #login {
		padding: 20px !important;
	}
	.content-left, .content-right {
		width: 100% !important;
		float: left;
	}
	.bedcount {
		padding: 1px 7px 0px 7px !important;
		background-color: #f5f5f5;
		color: #000;
		line-height: 17px;
		font-size: 9px !important;
	}
	.nav-tabs.tabs-dark {
		background-color: rgba(0, 0, 0, 0.1);
		margin-top: -45px !important;
	}
	.uiphoset {
		width: 50% !important;
	}
	.uiphoset12 {
		width: 100% !important;
	}
	.lihidden{
	display: none !important;
	}
	.ipdsearchbox{
	width: 151px !important;
	margin-left: 16px;
	}
}