.asses1back{
    margin-left: -15px;
    background-color: rgb(243, 243, 243);
    padding: 5px 0px 7px 13px;
    margin-top: -15px;
}
.details{
    background-color: rgb(243, 243, 243);
}
.assses3{
    margin-top: 25px;
}

    .assses4 {
    margin-top: -1px;
    margin-bottom: -26px;
}
