#table1 td{
border-top: 0px solid #fff;
}
.logoimg{
	margin-left: -15px;
}
.lefttitle{
	margin-left: -14px;
}
.clinicname{
	font-size: 20px; font-weight: bold;
}
.cliqualif{
	font-size: 11px; font-weight: bold;
}
.clicniaddress{
	font-size: 12px; font-weight: bold;
}
.bottext{
	font-size: 9px; font-weight: normal;
}
.martop10print{
	    border-bottom: 2px double #f2f2f2;
    margin-top: 10px;
}

.padunpaid {
    width: 24%;
    float: right;
    margin-top: -105px;
}
