.scrolltableheight{height: 200px; overflow: scroll;   overflow-x: hidden;}
.scrolltableheightleft{height: 200px; overflow: scroll;   overflow-x: hidden;  direction: rtl; padding: 10px;}
.textalignleft{text-align: left;}
.heightdiva{ height: 10px;}
 @media print
   {
     .displaynoneprint{display: none;}
     .printmarginleft{margin-left: 25px;}
     
   }
   
   
/* lg */ 
@media (min-width: 1200px) {

.setmarfordown{
     margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 3px;
 }

}

.cursorpointer {
	cursor: pointer;
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	.hhmm{
		width: 160px;
	}
	.admissionbackgreen {
    background-color: #339966;
    color: #fff;
    width: 30% !important;
	}
	.badge {
    padding: 0px 0px !important;}
  .advice{
    width: 177px;
}
	
.form-control {
    padding: 0px 5px !important;
}
label {
    font-size: 11px;
}

 .martop10 {
    margin-bottom: 10px;
    margin-left: 0px; 
}
 .botlnea{
     margin-bottom: 0px;
 }
 .images_1_of_3 {
    height: 116px;
}
 h3, .h3 {
    font-size: 15px;
    text-align: center;
}
 .bookbtnbed {
    margin-left: 20px;
}
/*  .martop10icon {
    margin-top: 5px;
    margin-left: -23px;
    font-size: 10px;
    width: 88%;
} */
 .male {
    max-width: 68% !important;
    margin-left: 0px;
}
 .martop10only {
    margin-top: 10px;
    font-size: 10px;
}
 .patintid {
    margin-left: -38px;
}
 .fontad{
     font-size: 10px;
 }
 .bedspace {
    margin-left: 7px;
}
 .colwid {
    width: 100% !important;
    margin-left: 0px;
}
 .downbed{
    margin-top: 5px;
margin-left: 0px;
}
 .pnamewidth{
             width:15% !important;
         }
         .page {
             width: 12% !important;
         }
         .pdate{
             width:19% !important;
         }
         .pnew {
             width: 5% !important;
         }
         .pview {
             width: 16% !important;
         }
         .minheight72 {
		   min-height: 145px !important;
		}
		.tile {
		    min-height: 145px !important;
		}
		.nav-tabs.tabs-dark {
		    margin-top: -13px !important;
		}
		.bedsort {
    		min-height: 114px !important;
		}
		.sortablesmall {
		    min-height: 74px !important;
			}
		.minheightsmall {
		    min-height: 66px !important;
		}
		.hhmm {
	    	width: 132% !important;
		}
		.mmwidthmang{
			width:78% !important;
		}
		.marbot0{
			margin-bottom: 0px !important;
		}
		

	
}



/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.imgbar{
		    width: 85% !important;
	}
		.hhmm {
	    	width: 156% !important;
		}
		.mmwidthmang{
			width:66% !important;
		}
		.marbot0{
			margin-bottom: 0px !important;
		}
	.fontflag {
    font-size: 15px !important;
    margin-top: 1px;
    margin-left: -8px;
}

.thumbnail {
    width: 125px;
    height: 80px !important;
}
	.fontflag {
    font-size: 23px !important;
    margin-top: 5px;
    margin-left: -8px;
}
	.dosen {
    margin-left: -32px !important;
}
	.prepaymd{
	margin-top: 0px;
	}
	.fontflag {
    font-size: 18px !important;
    margin-top: 1px !important;
}
	.thumsmall {
       width: 220% !important;
}
	
	
	
	
	.thumsmall2 {
        width: 220% !important;
}
    .martop10 {
    margin-bottom: 10px;
    margin-left: 0px;
}
.botlnea{
     margin-bottom: 10px;
 }
  .minheight72 {
		    min-height: 146px !important;
		}
		.tile {
    min-height: 146px !important;
}
		h3, .h3 {
    font-size: 16px;
}
	
	
	label {
    font-size: 11px;
}

  .admissionbackgreen {
    background-color: #339966;
    color: #fff;
    width: 30% !important;
    display: flex !important;
}
	  .widthtabhedth2 {
    width: 10% !important;
}
	
}


/* xs */
@media (max-width: 767px) {
	
	.pnameback {
    min-height: 426px;
}
	.hhmm {
	    	width: 100% !important;
		}
		.mmwidthmang{
			width:100% !important;
		}
		.marbot0{
			margin-bottom: 45px !important;
		}
		
   .martop10 {
    margin-bottom: 10px;
    margin-left: 0px;
}
 .botlnea{
     margin-bottom: 10px;
 }
 .lableright {
    float: none;
}
 .left20 {
    margin-left: 0px;
}
 .addwidth {
    width: 100% !important;
}
 .namema{
     margin-left: -15px;
 }
 .mname {
    margin-left: 0px;
}
 .advice {
    width: 100%;
}
 .left10 {
    margin-left: 0px;
}
 .btnset {
    float: right;
    margin-top: 3px;
    margin-bottom: 15px;
}
 .namewidth {
    width: 100% !important;
}
 .images_1_of_3 {
    width: 179px;
    color: #FFF;
    height: 113px;
}
 h3, .h3 {
    font-size: 17px;
    text-align: center;
}
 .bookbtnbed {
    margin-left: 33px;
}
 .male {
    max-width: 100% !important;
    margin-left: 4px;
}
 .martop10icon {
    margin-top: -18px;
    margin-left: 28px;
    font-size: 11px;
}
 .setcino {
    max-width: 100% !important;
}
 .calen{
     margin-left: 19px;
 }
 .calentext{
     margin-left: 13px;
 }
 .martop10only {
    margin-top: 10px;
    font-size: 10px;
}
 .fontad{
     font-size: 10px;
 }
 .botmar{
     margin-bottom: 5px;
 }
 .bedicon {
    width: 8%;
}
 .mar0{
     margin-left: 0px;
 }
   .widthtabhedth2 {
    width: 11% !important;
}
.admissionbackgreen {
    background-color: #339966;
    color: #fff;
    width: 50% !important;
    display: flex !important;
}
	.marto44fortabpot{
		margin-top: -44px;
	}
	.mar0{
	    margin-top: 22px !important;
		}
		.widthtabhedth1 {
    width: 26% !important;
}
	.paddingrih {
    padding-left: 0px !important;
    padding-right: 15px !important;
}
	.thumbnail {
    width: 100% !important;
        border-radius: 7px !important;
    border: 1px solid #ddd !important;
        height: 76px !important;
}
	.padrigset {
    padding: 0px 0px 4px 6px !important;
}
	
}



/* XS Portrait */
@media (max-width: 480px) {

.thumbnail {
    width: 100% !important;
        border-radius: 7px !important;
    border: 1px solid #ddd !important;
        height: 68px !important;
}
	.thumbnail>img, .thumbnail a>img {
    margin-left: auto;
    margin-right: auto;
    width: 40% !important;
    margin-top: 0px !important;
}
	.fontpup {
    font-size: 11px !important;
    line-height: 15px;
}
}



/* XXS Portrait */
@media (max-width: 393px) {


}


