/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
	overflow-x:scroll;  
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  margin-right: 6px;
}


.btn-default1 {
    color: #333 !important;
    background-color: #FFF !important;
    border-color: #CCC !important;
    width: 103px;
}
.btn-default2 {
    color: #333 !important;
    background-color: #FFF !important;
    border-color: #CCC !important;
    width: 163px;
}
.seprator{
    border-right:solid 1px #2f2f2f;
}

.scrollimg{
    width:100px;
    height:89px !important;
}
.imgdetails{
    width:100px;
    height:100px;
}
.thumbimg {
    width: 112px;
    margin-left: 9px;
    height:100px;
}
.delete {
    position: absolute;
    right: 16px;
    top: -6px;
    background-color: #F00;
    border-radius: 51%;
    color: #FFF;
    height: 20px;
    width: 20px;
    text-align: center;
    padding-top: 2px;
    box-shadow: 0px 0px 3px rgba(104, 104, 104, 0.84);
    display: none;
    cursor: pointer;
}
.thumbimg:hover .delete{
    display:block;
}